* {
    font-family: 'Anonymous Pro', monospace;
    box-sizing: border-box;
  }

html,body {
  margin: 0;
  padding: 0;
  height: 100%;

}

* {
  box-sizing: border-box;
}

#root {
  height: 100%;
}

.configurator-button {
  display: inline-block;
  padding: 10px 16px;
  margin: 0 8px 8px 0;
  font-size: 10px;
  font-weight: 400;
  color: #fff;
  background-color: black;
  border: 5px solid transparent;
  cursor: pointer;
  text-align: center;
  letter-spacing: .1rem;
  transition: background-color 150ms ease, border-color 150ms ease, transform 150ms ease;
}

.configurator-button:hover {
  background-color: #1a1a1a;
  border: 5px solid #1a1a1a;
}

.configurator-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
